librosa
opencv-python
opencv-contrib-python
tensorboard
tqdm
mpi4py-mpich
av
torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
-e ./guided-diffusion
